# 1074

In [ ]:
재귀로 구현하는 부분이 너무 어려움
https://ggasoon2.tistory.com/11

In [ ]:
2^N x 2^N 인 2차원 배열을 Z 모양으로 탐색
재귀적으로 순서대로 방문
input = N, r, c
output = r행 c열을 몇번째로 방문?

In [ ]:
몇번째 행 몇번째 열에 몇번째에 방문하는지 체크
행렬을 만들어야 하는지
r,c는 실제 행렬이 아니고 -1을 한 값

In [67]:
N, r, c = map(int, input().split())
B = 2**N
L = [[0 for _ in range(B)] for _ in range(B)]
cnt = 0

1 1 1

In [46]:
L[r][c] = 3

In [47]:
L

[[0, 0], [0, 3]]

In [ ]:
def Z(x, y, cnt):
    for i in range(4):
        L[y][x] = cnt
        if x%2 == 0:
            x += 1
        elif y% == 0:
            y += 1
        cnt += 1
        return if

In [60]:
x,y = 0,0
for i in range(4):
    L[y][x] = cnt
    if x%2 == 0:
        x += 1
    elif y%2 == 0:
        y += 1
    cnt += 1

In [54]:
x = 1
x%2

1

In [61]:
L

[[0, 1], [0, 3]]

In [83]:
dx = [0, 1, -1, 1]
dy = [0, 0, 1, 0] 
x, y = 0,0
cnt = 0
for i in range(4):
    x += dx[i]
    y += dy[i]
    L[y][x] = cnt
    cnt += 1

In [84]:
L

[[0, 1], [2, 3]]

In [80]:
x, y

(2, 0)

In [ ]:
0,0 2,0
0,2 2,2

0,0 4,0
0,4 4,4

In [ ]:
if N > 1:
    for i in range(N):

In [85]:
def roll(x,y,cnt):
    dx = [0, 1, -1, 1]
    dy = [0, 0, 1, 0] 
    for i in range(4):
        x += dx[i]
        y += dy[i]
        L[y][x] = cnt
        cnt += 1

IndentationError: expected an indented block (3697834165.py, line 1)

In [ ]:
def z():

In [ ]:
N = 2, B = 16
cnt = 3

N = 3, B = 64
cnt = 15

In [ ]:
63 = 48 + 12 + 3

In [ ]:
2*(r%2)+(c%2) + 4*sol(N-1, int(r/2), int(c/2))
2*(r%2)+(c%2)                  = 화살표
4*sol(N-1, int(r/2), int(c/2)) = 4의 배수하기 이전의 값

In [86]:
N = 2
r = 3
c = 1

In [87]:
r/2

1.5

In [88]:
c/2

0.5

In [89]:
2*(r%2)+(c%2)

3

In [90]:
r%2, c%2

(1, 1)

In [ ]:
44인 경우, 44는 11*4 이고 11은 8+3, 8은 2*4
0 + 4*( 3 + 4*( 2 + 4 * (0)))

In [6]:
N, r, c = map(int, input().split())

def sol(N, r, c):

	if N == 0:
		return 0
        
	return 2*(r%2)+(c%2) + 4*sol(N-1, int(r/2), int(c/2))

print(sol(N, r, c))

3 4 3
37

In [ ]:
30(3,3,6)
2*(3%2)+(6%2) + 4*sol(2,1,3)
                = 4*(2*(1%2)+(3%2) + 4*sol(1,0,1))
                                      = 4*(2*(0%2)+(1%2) + 4*0) = 4

In [32]:
2*(3%2)+(6%2) +4*(2*(1%2)+(3%2) + 4*(2*(0%2)+(1%2)))

30

In [ ]:
N = 3, r = 4, c = 3
2*(4%2)+(3%2) + 4*sol(2,2,1)

sol(2,2,1) = 2*0+0 + 4*sol(1,1,1)
sol(1,1,1) = 2*1+1

In [14]:
int(7/2)

3

In [7]:
N = 3, r = 2, c = 6

1

In [12]:
2*(3%2)+(7%2)

3

In [ ]:
30(3,7): 3 사분면 -> 4로 나눈 값은 7 -> 7은 1을 4배한 수의 박스안에 있음

In [ ]:
aN = 2
r = 3
c = 1

In [ ]:
N = 2
r = 3
c = 1
sol(2,3,1) -> 2*1+1 + 4*sol(1,1,0)
sol(1,1,0) -> 2*1+1 + 0

In [100]:
int(3/2), int(1/2)

(1, 0)

In [97]:
2*1+1 + 4*(2*1+1)

15

In [ ]:
N = 2
r = 3
c = 3
sol(2,3,3) -> 2*1+1 + 4*sol(1,1,1)
sol(1,1,1) -> 2*1+1 + 0